template(name='layout')
    .container
        header.ui.pointing.menu
            a(class='active item', href='/' )
                |  Home
            a.item
                |  Messages
        #main
            +yield