<template name="postItem2">
    <div class="ui card">
        <div class="content">
            <i class="right floated like icon"></i>
            <i class="right floated star icon"></i>
            <div class="header">{{author}}</div>
            <div class="description">
                <p>{{publication}}</p>
            </div>
        </div>
        <div class="extra content">
    <span class="left floated like">
      <i class="like icon"></i>
      Like
    </span>
    <span class="right floated star">
      <i class="star icon"></i>
      Favorite
    </span>
        </div>
    </div>
</template>