template(name='postSubmit')
    form.ui.form
        .field
            label   Text
            textarea(rows='5', placeholder='Write something...', name="publicationText", type='text')
        button(class='ui button', type='submit') Submit
