template(name='postItem')
    .ui.card
        .content
            i.right.floated.like.icon
            i.right.floated.star.icon
            .header {{author}}
            .description
                p {{publication}}
        .extra.content
            span.left.floated.like
                i.like.icon
                |       Like
            a(href="{{pathFor 'postPage'}}")
                span.right.floated.star
                    i.star.icon
                    |       Comment
