//template(name='commentSubmit')
    form.ui.reply.form
        .field
            textarea(name='body')
        .ui.blue.labeled.submit.icon.button(type='submit')
            i.icon.edit
            |  Add Reply



template(name='commentSubmit')
    form.ui.reply.form
        .field
            textarea(name='body')
        button.ui.blue.labeled.submit.icon.button
            i.icon.edit
            |   Add Comment
