template(name='header')
    header.ui.pointing.menu
        a(class='active item', href='/' )
            |  Home
        if currentUser
            a(class='item', href="{{pathFor 'postSubmit'}}")
                |  Write
        .right.menu
            .item
                +loginButtons